body {width: 100%; min-width: 320px; font-family: 'Noto Sans KR', '나눔고딕', NanumGothic, '맑은 고딕', MalgunGothic, '돋움', Dotum, sans-serif;
    font-size: 13px; color: #464646; line-height: 1.7em;}

header {position: absolute; width: 100%; min-width: 320px;
    height: 171px; background: #fff; z-index: 52;}

header .top_align {position: absolute; height: 50px; width: 100%; background: #243c84; }

header .lnb {display: table; float: left; width: auto; position: relative;}
header .lnb li:last-child {background: none; margin-right: 0; padding-right: 0;}
header .lnb li {display: inline-block; background: url(../images/util_line.gif) no-repeat left;
    text-align: center; background-position: right; padding: 0 20px;}
header .lnb li a {display: block; line-height: 50px; height: 50px; color: #fff; font-size: 12px;}

header .top_util {float: right; width: auto; margin: 10px 30px 10px 0;}

header .top_member {float: left; margin: 0px 20px 0 25px;}
header .top_member li:first-child {background: none; margin-left: 0; padding-left: 0;}
header .top_member li {background: url(../images/util_line.gif) no-repeat left; display: inline-block;
    margin-left: 12px; padding-left: 13px;}
header .top_member li a {color: #fff; display: block; line-height: 30px; height: 30px; font-size: 13px;}

header .top_sns {float: left; margin-right: 4px 15px 0 0;}
header .top_sns li {display: inline-block; margin: 0 5px 0 0;}
header .top_sns li a {display: block; width: 28px; height: 28px;}
header .top_sns li:nth-child(1) a {background: url(../images/top_sns01.png) no-repeat; background-size: cover;}
header .top_sns li:nth-child(2) a {background: url(../images/top_sns02.png) no-repeat; background-size: cover;}
header .top_sns li:nth-child(3) a {background: url(../images/top_sns03.png) no-repeat; background-size: cover;}
header .top_sns li:nth-child(4) a {background: url(../images/top_sns04.png) no-repeat; background-size: cover;}


.blind {display: block; position: absolute; overflow: hidden; left: -9999px; width: 1px; height: 1px;
    font-size: 1px; line-height: 0px; text-indent: -9999px;}


header .search {position: relative; float: right; display: block; width: 160px; height: 30px; background: #fff;}
form {display: block;}
header .search input {position: absolute; width: 122px; border: none; left: 0; height: 30px;}
header .search a {position: absolute; display: block; right: 0; width: 38px; height: 30px;
    background: url(../images/icon_search.gif) no-repeat center;}


header .top_logo {position: relative; top: 80px; left: 50%; clear: both; margin: 0; margin-left: -101px; z-index: 51;}


header .main {position: absolute; top: 125px; left: 56%; width: auto; margin-left: -514px; border-top: none; border-bottom: none;}
header .main li {display: inline-block; background: none;}
header .main li a {height: auto; line-height: normal; border-top: none; border-bottom: none; font-size: 16px; padding: 0 40px; color: #202023;}
header .main li a span {position: relative;}
header .main li a:hover span::after {position: absolute; left: 0; bottom: -9px; content: ""; display: block; width: 100%;
    height: 4px; background: #000;}

.visual {padding-top: 171px; height: auto; position: relative; }
.visual .prev {display: block; position: absolute; top: 50%; left: 30px;}
.visual .next {display: block; position: absolute; top: 50%; right: 30px;}
.visual a {color: transparent;}
    
.visual .control {position: absolute; left: 0; bottom: -5%; width: 100%; text-align: center;}
.visual .control ul {font-size: 0; display: inline-block; position: relative; top: 6px;}
.visual .control ul li {padding: 0 3px; display: inline-block;}
.visual .control ul li .on a {background: #243C84;}
.visual .control ul li a {display: block; width: 10px; height: 10px; border-radius: 5px; background: #B9B9B9;}
    
.visual img {overflow: hidden; width: 100%; height: 620; display: block;}


.main_block {padding: 103px 0 100px; text-align: center;}
.main_block .wrap {padding: 0; max-width: 1180px; margin: 0 auto;}
.main_block .wrap h2 {font-size: 36px; margin-bottom: 37px; color: #202023;}
.main_block .wrap P {color: #202023; font-size: 17px; line-height: 1.4em;}
.main_block .wrap .info {margin-top: 15px; font-size: 17px; line-height: 1.4em; color: #464646;}
.main_block .wrap .fran_info {display: table; margin-top: 95px; width: 100%;}
.main_block .wrap .fran_info li {float: left; width: 25%; margin-bottom: 0;}
.main_block .wrap .fran_info li a {width: 250px; display: block; height: 100%; margin: auto;}
.main_block .wrap .fran_info li a dl {text-align: center; margin: auto;}
.main_block .wrap .fran_info li a dl dt {padding: 91px 0 28px; color: #202023; font-size: 24px; font-weight: 700; font-family: '나눔스퀘어', NanumSquare, NS;}
.main_block .wrap .fran_info li a dl dd {font-size: 16px; margin-top: 15px; font-weight: 300; line-height: 1.4em;}
.main_block .wrap .fran_info li:nth-child(1) dt {background: url(../images/main_fran01.gif)no-repeat center top, url(../images/main_fran_icon.gif)no-repeat center bottom;}
.main_block .wrap .fran_info li:nth-child(2) dt {background: url(../images/main_fran02.gif)no-repeat center top, url(../images/main_fran_icon.gif)no-repeat center bottom;}
.main_block .wrap .fran_info li:nth-child(3) dt {background: url(../images/main_fran03.gif)no-repeat center top, url(../images/main_fran_icon.gif)no-repeat center bottom;}
.main_block .wrap .fran_info li:nth-child(4) dt {background: url(../images/main_fran04.gif)no-repeat center top, url(../images/main_fran_icon.gif)no-repeat center bottom;}

.main_block .wrap .fran_contact {width: 100%; display: table; margin: 97px auto 0;}
.main_block .wrap .fran_contact li {width: 280px; float: left; margin: 0 10px 0 0; border: 1px solid #bbd6f7; box-sizing: border-box; max-width: 420px;}
.main_block .wrap .fran_contact li dl {display: table; width: 100%; padding: 18px 0; font-family: '나눔스퀘어', NanumSquare, NS;}
.main_block .wrap .fran_contact li dl dt {width: 36%; font-size: 18px; display: table-cell; color: #002f6c; font-weight: 700; background: url(../images/main_fran_line.gif) no-repeat right center;}
.main_block .wrap .fran_contact li dl dd {width: 64%; font-size: 20px; font-weight: 500; display: table-cell; margin-left: 20%; color: #002f6c;}


.camp_block {display: table; background: url(../images/main_campaign.jpg)no-repeat 68% top; height: 397px; width: 100%; padding: 83px 0 80px; text-align: left; background-size: cover; background-position: center top ;}
.camp_block .camp_wrap {display: table-cell; padding: 0 5% 0 100px; vertical-align: middle;}
.camp_block .camp_wrap h2 {font-size: 54px; font-weight: 500; color: #fff; line-height: 1.25em;}
.camp_block .camp_wrap p {color: #ffd800; margin: 30px 0 45px; font-size: 18px; font-weight: 500; line-height: 1.4em;}
.camp_block .camp_wrap p span {max-width: 500px; display: block; margin-top: 12px; color: #fff; font-size: 16px; font-weight: 400;}
.camp_block .camp_wrap .camp_btn {display: block;}
.camp_block .camp_wrap .camp_btn a {border: 1px solid #fff; display: inline-block; width: 188px; height: 42px; line-height: 42px; color: #fff; text-align: center; font-size: 15px; font-weight: 500;}


.dream_factory {width: 100%; background: url(../images/dream_factory_bg.gif) repeat-y; overflow: hidden; background-size: 100% auto;}
.dream_factory .factory_con {margin-bottom: 120px; padding: 0 4%;}
.dream_factory .factory_con .txt {padding-top: 90px; line-height: 2em; text-align: left; font-size: 30px; font-weight: 900; color: #fff;}
.drea   m_factory .factory_con h2 {font-family: 'Nunito Sans', sans-serif;}
.dream_factory .factory_con p {margin-top: 7px; text-align: left; font-size: 17px; color: #fff; line-height: 1.4em;}
.dream_factory .factory_con .btn {margin: 36px auto; text-align: left; width: auto; position: relative; z-index: 20;}
.dream_factory .factory_con .btn a {display: inline-block; border: solid 1px #fff; color: #fff; margin: 0 3px 0 4px;
    width: 188px; height: 42px; text-align: center; line-height: 42px; font-weight: 500; letter-spacing: 0.1em;}
.dream_factory .factory_img {margin-top: -310px;}
.dream_factory .factory_img img {max-width: 860px; height: auto; vertical-align: top;}


.lab {padding: 103px 0 100px;}
.lab .lab_wrap {max-width: 1180px; margin: 0 auto;}
.lab .lab_wrap h2 {font-size: 36px; margin-bottom: 37px; color: #202023; text-align: center;}
.lab .lab_wrap P {text-align: center; color: #202023; font-size: 17px; line-height: 1.4em;}
.lab .lab_wrap ul {display: table; width: 830px; margin: 75px auto 0;}
.lab .lab_wrap ul li:first-child {background: url(../images/main_lab01.jpeg)no-repeat center; background-size: cover; float: left; width: 400px; height: 540px; margin: 0 10px 0 0;}
.lab .lab_wrap ul li a {display: block; width: 100%; height: 100%;}
.lab .lab_wrap ul li a dl {display: block;}
.lab .lab_wrap ul li a dl dt {margin-top: 112px; font-size: 24px; color: #fff; font-weight: 700; text-align: center;}
.lab .lab_wrap ul li a dl dd {font-size: 17px; color: #fff; text-align: center; font-weight: 300; line-height: 1.4em; margin-top: 12px;}
.lab .lab_wrap ul li:nth-child(2) {background: url(../images/main_lab03.jpeg)no-repeat center; background-size: cover; float: left; width: 400px; height: 540px; margin: 0 10px 0 0;}


.board {background: #f5f5f5; text-align: center; padding: 103px 0 100px;}
.board .board_wrap {margin: 0 auto; padding: 0 135px; width: 100%; height: 350px;}
.board .board_wrap .mov {position: relative;}
.board .board_wrap .mov iframe {float: left;}
.board .board_wrap .newsnotice {display: block; text-align: left; width: auto; height: 100%; float: left;}
.board .board_wrap .newsnotice .notice {display: table; width: 100%; height: 50%; text-align: left;}
.board .board_wrap .newsnotice .notice li {position: relative; height: 50%; display: table-cell;}
.board .board_wrap .newsnotice .notice li:first-child {background: #002f6c; width: 175px;}
.board .board_wrap .newsnotice .notice li h4 {padding: 25px 20px; color: #fff; font-size: 24px; font-weight: 700;}
.board .board_wrap .newsnotice .notice li .prev {position: absolute; bottom: 20px; right: 40px;}
.board .board_wrap .newsnotice .notice li .next {position: absolute; bottom: 20px; right: 20px;}
.board .board_wrap .newsnotice .notice li:last-child {background: #fff; padding: 25px 20px; width: 250px;}
.board .board_wrap .newsnotice .notice li:last-child h5 {font-size: 17px; font-weight: normal; line-height: 1.2em;}
.board .board_wrap .newsnotice .notice li:last-child p {margin: 8px 0 15px; font-size: 13px; color: #acacac;}

.board .board_wrap .newsnotice .news {position: relative; background: #1f3a93; height: 50%; padding: 30px 30px; height: 115px;}
.board .board_wrap .newsnotice .news h4 {color: #fff; margin-bottom: 18px; font-size: 24px; font-weight: 700;}
.board .board_wrap .newsnotice .news .more {position: absolute; top: 33px; right: 30px;}
.board .board_wrap .newsnotice .news ul li a {font-size: 14px; line-height: 1.8em; color: #d5deea;}
.board .board_wrap .newsnotice .news ul li span {float: right; color: #d5deea;}

footer {position: relative; clear: both; width: 100%; background: #262626; text-align: center;}
footer .util {border-bottom: solid 1px #464646; padding: 16px 0;}
footer .util li {display: inline-block; margin: 3px 19px;}
footer .util li a {color: #818181;}
footer select {position: absolute; right: 44%; margin-right: -500px; top: 15px; display: block; width: 168px;
    border: solid 1px #d9d9d9;}
footer .ccm {position: absolute; text-align: right; width: 100%; margin-top: 30px; padding-right: 30px; right: 9%;}
footer .btm_logo {margin: 41px 0 24px;}
footer .btm_logo img {vertical-align: top;}
footer .info {width: 90%; max-width: 700px; margin: auto; margin-bottom: 14px; color: #6c6c6c; font-size: 12px; line-height: 1.7em;}
footer .info p {display: inline-block; margin-right: 10px; padding-right: 10px; background: url(../images/footer_line.gif) no-repeat right;
    font-size: 12px; line-height: 1.7em;}
footer .copy {padding-bottom: 35px; font-size: 12px; font-weight: 700; color: #6c6c6c;}